BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4

PointerAlignment: Left
ReferenceAlignment: Left

AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

SortIncludes: true
IncludeBlocks: Regroup

BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterEnum: false

SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: ControlStatements

NamespaceIndentation: None
FixNamespaceComments: true

Cpp11BracedListStyle: true
Standard: c++20
